.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activity-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 60px;
}
.profile-container{
    background-color: whitesmoke;
}
.profile-text{
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    background-color: lavender;
    border-radius: 7px;
}
.weight{
    margin-right: 10px;
}
.height{
    margin-right: 10px;
}
.age{
    margin-left: 10px;
}
@media screen and (max-width : 1100px) {
    .activity-container{
        grid-template-columns: repeat(2 1fr);
    }
}